{% extends "base_page.html" %}
{%block title%} gk {%endblock%}

{%block username%} {{username}} {%endblock%}

{%block name%} {{name}} {%endblock%}

{%block head%}
<link rel="stylesheet" href="{{url_for('static',filename='css/coursesInfoCss/coursesCss/introNumbers.css')}}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
{%endblock head%}

{%block content %}

<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Basics of General Knowledge</h3>
        </div>


        <ul class="list-unstyled components">
            <p>General Knowledge</p>

            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Basics of
                    GK</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a onclick="return onClickOpen(35, 2.8, 'pre_k');" href="{{url_for('humanparts')}}">Human Body-Part 1</a>
                    </li>
                    <li>
                        <a onclick="return onClickOpen(36, 2.8, 'pre_k');" href="{{url_for('humanparts2')}}">Human Body-Part 2</a>
                    </li>
                </ul>
            <li>
                <a  href="{{url_for('other')}}">other</a>
            </li>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a href="{{url_for('dashboard')}}" style="text-decoration: none;" class="download">Dashboard</a>
            </li>
        </ul>
    </nav>

    <div class="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fa fa-align-justify"></i> <span></span>
            </button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


        </nav>


        <div class="content-wrapper">
            <h2>Learn- Parts of Body</h2>

            <!-- <video width="320" height="240" controls autoplay> -->
            <!-- <source src="https://youtu.be/vxffHm4wy24" type=video/mp4> -->
            <iframe width="100%" height="330" src="https://www.youtube.com/embed/SUt8q0EKbms"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <!-- </video> -->
            <h3>Parent should read below points and explain it to child:</h3>
            <!-- <h4>Parent should teach kids simply giving following examples:</h4> -->
            <p>Watch the above video carefully and do the same activity as girl doing in video.</p>
            <h6>Teach Body Parts Through Songs</h6>
            <p>Music is a great way to keep little ones engaged fruitfully. You can easily help your child learn about
                his body with music. Some of the songs that may work for you include:
            <ul>
                <li>Blue Hat Green Hat</li>
                <li>Go Away, Big Green Monster (parts of the face) </li>
                <li>Where’s My Baby by Julie Ashworth and John Clark</li>
                <li>From Head to Toe by Eric Carle</li>
            </ul>
            </p>
            <h6>Teach Body Parts Through Stories</h6>
            <p>There are books galore that can lend a helping hand when you are trying to teach your child about his
                body parts. We recommend the following books to get started:
            <ul>
                <li>Head, Shoulders, Knees, and Toes</li>
                <li>Hokey Cokey</li>
                <li>One Little Finger</li>
                <li>If You’re Happy and, You Know It</li>
            </ul>
            </p>
            <h6>Teach Body Parts To Children Through Games And Activities:</h6>
            <p>Kids learn best when they don’t know they are learning! That is why it makes sense to use fun games and
                activities to hammer in the body parts information into your little one’s brain, figuratively, of
                course!</p>


            <div class="line"></div>

            <!-- nav tabs -->
            <ul class="nav nav-tabs justify-content-center" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">This Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">Video Transcript</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#references" role="tab" data-toggle="tab">references</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="profile"></div>
                <div role="tabpanel" class="tab-pane fade" id="buzz">
                    Not available

                </div>
                <div role="tabpanel" class="tab-pane fade" id="references">
                    <li> English Singsing
                        -Youtube Video</li>
                    <li>Different websites for courses</li>
                    <li>www.momjunction.com</li>



                </div>
            </div>

            <!-- tab nav end -->

            <!-- page navigation bar -->

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="{{url_for('humanparts')}}">1</a></li>
                    <li class="page-item"><a class="page-link" href="{{url_for('humanparts2')}}">2</a></li>
                    <li class="page-item">
                        <a class="page-link" href="{{url_for('humanparts2')}}">Next</a>

                    </li>
                </ul>
            </nav>
            <!-- page navigation bar ends-->
        </div>

    </div>
</div>



{%endblock content%}


{%block scripts%}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $("#sidebarCollapse").on('click', function () {
            $("#sidebar").toggleClass('active');
        })
    })
</script>
{%endblock scripts%}