{% extends "base_page.html" %}
{%block title%} topicSelection {%endblock%}

{%block username%} {{username}} {%endblock%}

{%block name%} {{name}} {%endblock%}

{%block head%}
<link rel="stylesheet" href="{{url_for('static',filename='css/coursesInfoCss/courseSelection/coursesinfoPrek.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/coursesInfoCss/textDecoration/textDecor.css')}}">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{%endblock head%}

{%block content %}
<br>
<div class="container">
    <div id="accordion" class="accordion">
        <div class="card mb-0">
            <div class="card-header collapsed grabbing" style="background-color: black;" data-toggle="collapse"
                href="#collapseOne">
                <a class="card-title effect-shine" style="color: blanchedalmond;">
                    <bold>Alphabates Revision</bold>
                </a>
            </div>
            <div id="collapseOne" class="card-body collapse" data-parent="#accordion">
                <p>This topic is the quick revision of alphabates which we have already studied in pre k course. </p>
                <p>It is very important to revise this topic because Children's knowledge of letter names and shapes is a strong predictor of their success in learning to read. Knowing letter names is strongly related to children's ability to remember the forms of written words and their ability to treat words as sequences of letters.</p>
               
                <!-- <button type="button" class="btn btn-outline-primary" onclick="location.href='">Start Learning</button> -->
                <!-- <a href="{{url_for('chooseMath')}}" class="mt-auto btn btn-primary effect-shine ">Start Learning</a> -->
                <a href="{{url_for('alpharev')}}" class="btn btn-dark effect-shine"> Start Learning</a>
            </div>
            
            <br>

            <div class="card-header collapsed grabbing" style="background-color: black;" data-toggle="collapse"
            href="#collapse5">
            <a class="card-title effect-shine" style="color: blanchedalmond;">
                <bold>Revision of Consonants and vowels</bold>
            </a>
        </div>
        <div id="collapse5" class="card-body collapse" data-parent="#accordion">
            <p>This topic is the quick revision of alphabates which we have already studied in pre k course.</p> 
            <p>It will contain some advanced points they are mentioned below:</p>
            <ul>
                <li>Find Vowels in Words</li>
                <li>Find Consonents in the world</li>
            </ul>
            <a href="{{url_for('vocorev')}}" class="btn btn-dark effect-shine"> Start Learning</a>
        </div>



            <br>
            <div class="card-header collapsed grabbing " style="background-color: black;" data-toggle="collapse"
                data-parent="#accordion" href="#collapseTwo">
                <a class="card-title effect-shine" style="color: blanchedalmond;">
                    <bold>Short Words</bold>
                </a>
            </div>
            <div id="collapseTwo" class="card-body collapse" data-parent="#accordion">
                <p>Phonics instruction teaches children how to decode letters into their respective sounds, a skill that is essential for them to read unfamiliar words by themselves. Keep in mind that most words are in fact unfamiliar to early readers in print, even if they have spoken knowledge of the word.</p>
                <p>Short words are divided into following parts
                    <ul>
                        <li>Two letter words</li>
                        <li>Three letter words</li>
                        <li>Four letter words</li>
                        <li>Five letter words</li>
                        <li>Words from each alphabates</li>
                    </ul>
                </p>
                
                <a href="{{url_for('shortword1')}}" class="btn btn-dark effect-shine"> Start Learning</a>
            </div>


            <br>
            <div class="card-header collapsed grabbing" style="background-color: black;" data-toggle="collapse"
                href="#collapse6">
                <a class="card-title effect-shine" style="color: blanchedalmond;">
                    <bold>Short Sentence Framing</bold>
                </a>
            </div>
            <div id="collapse6" class="card-body collapse" data-parent="#accordion">
                <p>Children need to hear well-formed sentences with correct grammar in order to learn about the rules of their language. While using shorter sentences can help young children, they need to hear well-formed sentences with correct grammar in order to learn about the rules of their language.
                </p>
                <ul>
                    <li>Is it a telling sentence or an asking sentence?</li>
                    <li>Who, what, when, where or why?</li>
                    <li>Find the complete sentence</li>
                </ul>
                <a href="{{url_for('shortsen1')}}" class="btn btn-dark effect-shine"> Start Learning</a>
            </div>

            <br>
            <div class="card-header collapsed grabbing" style="background-color: black;" data-toggle="collapse"
                href="#collapse7">
                <a class="card-title effect-shine" style="color: blanchedalmond;">
                    <bold>Opposite Words and Jumbled Words</bold>
                </a>
            </div>
            <div id="collapse7" class="card-body collapse" data-parent="#accordion">
                <p>Opposites help children to learn how to describe different things through comparison. This is pivotal to learning and comprehending language for kindergarteners. There are many activities you can do with your child or students to help them learn about opposites.
                </p>
                <a href="{{url_for('opposites')}}" class="btn btn-dark effect-shine"> Start Learning</a>
            </div>

        </div>
    </div>
</div>

{%endblock content%}

{%block scripts%}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
{%endblock scripts%}