{% extends "base_page.html" %}
{%block title%} english {%endblock%}

{%block username%} {{username}} {%endblock%}

{%block name%} {{name}} {%endblock%}

{%block head%}
<link rel="stylesheet" href="{{url_for('static',filename='css/coursesInfoCss/coursesCss/introNumbers.css')}}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
{%endblock head%}

{%block content %}

<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Opposites</h3>
        </div>


        <ul class="list-unstyled components">
            <p>English</p>

            <li>
                <li>
                    <a onclick="return onClickOpen(28, 2.86, 'grade_k');" href="{{url_for('opposites')}}">Opposite - Part 1</a>
                </li>
                <li>
                    <a onclick="return onClickOpen(29, 2.86, 'grade_k');" href="{{url_for('opposites2')}}">Opposite - Part 2</a>
                </li>
                <li>
                    <a onclick="return onClickOpen(30, 2.86, 'grade_k');" href="{{url_for('jumbled')}}">Jumbled Words</a>
                </li>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a href="{{url_for('dashboard')}}" style="text-decoration: none;" class="download">Dashboard</a>
            </li>
        </ul>
    </nav>

    <div class="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fa fa-align-justify"></i> <span></span>
            </button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


        </nav>


        <div class="content-wrapper">
            <h2>Opposites - Part 2</h2>
            <!-- <video width="320" height="240" controls autoplay> -->
            <!-- <source src="https://youtu.be/vxffHm4wy24" type=video/mp4> -->
                <iframe width="100%" height="330" src="https://www.youtube.com/embed/y0Ig4FeARUo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3>Kids should follow below points:(Parents read this instructions and Explain)</h3>
            <!-- <h4>Parent should teach kids simply giving following examples:</h4> -->
            <h6>What is Opposites?</h6>
            <p>Opposites are pairs of words that directly contrast each other or are opposites. For example, “soft” is the opposite of “hard”.</p>
            <h5>Activities : Opposites</h5>
            <h6>Make an Opposites Book</h6>
            <p>Start with something simple! You do not have to be very creative to design a book for a child. However, it helps to laminate pages to make them more durable. To create a book, just follow these steps:
                <ul>
                    <li>Make a list of simple opposite words.</li>
                    <li>Take several sheets of paper and fold them into fourths, by folding them in half horizontally then vertically.</li>
                    <li>Cut along the folded lines to make four pages.</li>
                    <li>Staple the pages together and allow your students to make a cover. (laminate before stapling)</li>
                </ul>
            </p>
            <h6>Use a Printable Worksheets</h6>
            <p>Printable worksheets are a great way to push opposite learning. For example, you might use images and words to drive home understanding of opposite words. For example, see below image</p>
            <center><img 
            src="{{url_for('static',filename='images/opposites.jpg')}}" width="550px"
            height="400px" alt="oppositeSample"></center>
            <h6>Make a Funny Story</h6>
            <p>It’s true for most children; if they are not having fun, then they are not learning. If they are learning while having fun, then they retain so much more information.</p>

            <div class="line"></div>

            <!-- nav tabs -->
            <ul class="nav nav-tabs justify-content-center" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">This Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">Video Transcript</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#references" role="tab" data-toggle="tab">references</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="profile"></div>
                <div role="tabpanel" class="tab-pane fade" id="buzz">
                    Not Available

                </div>
                <div role="tabpanel" class="tab-pane fade" id="references">
                    <li> 
                        Pluto
                        -Youtube Video</li>
                    <li>Different websites for courses</li>
                    <li>education.yourdictionary.com</li>



                </div>
            </div>

            <!-- tab nav end -->

            <!-- page navigation bar -->

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item ">
                        <a class="page-link" href="{{url_for('opposites')}}" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="{{url_for('opposites2')}}">2</a></li>
                    <li class="page-item"><a class="page-link" href="{{url_for('jumbled')}}">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="{{url_for('jumbled')}}">Next</a>

                    </li>
                </ul>
            </nav>
            <!-- page navigation bar ends-->
        </div>

    </div>
</div>



{%endblock content%}


{%block scripts%}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $("#sidebarCollapse").on('click', function () {
            $("#sidebar").toggleClass('active');
        })
    })
</script>
{%endblock scripts%}