{% extends "base_page.html" %}
{%block title%} math {%endblock%}

{%block username%} {{username}} {%endblock%}

{%block name%} {{name}} {%endblock%}

{%block head%}
<link rel="stylesheet" href="{{url_for('static',filename='css/coursesInfoCss/coursesCss/introNumbers.css')}}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
{%endblock head%}

{%block content %}

<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Geometry (Shapes and Sizes)</h3>
        </div>


        <ul class="list-unstyled components">
            <p>Mathematics</p>

            <li>
                <a onclick="return onClickOpen(28, 2.8, 'pre_k');" href="{{url_for('shapename')}}">Name of Shape</a>
            </li>
            <li>
                <a onclick="return onClickOpen(29, 2.8, 'pre_k');" href="{{url_for('circle')}}">Circle</a>
            </li>
            <li>
                <a onclick="return onClickOpen(30, 2.8, 'pre_k');" href="{{url_for('triangle')}}">Triangle</a>
            </li>
            <li>
                <a onclick="return onClickOpen(31, 2.8, 'pre_k');" href="{{url_for('rectangle')}}">Rectangle</a>
            </li>
            <li>
                <a onclick="return onClickOpen(32, 2.8, 'pre_k');" href="{{url_for('square')}}">Square</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a href="{{url_for('dashboard')}}" style="text-decoration: none;" class="download">Dashboard</a>
            </li>
        </ul>
    </nav>

    <div class="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fa fa-align-justify"></i> <span></span>
            </button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


        </nav>


        <div class="content-wrapper">
            <h2>Learn- Shapes and Sizes</h2>
            <h4>Topic - Circle</h4>

            <!-- <video width="320" height="240" controls autoplay> -->
            <!-- <source src="https://youtu.be/vxffHm4wy24" type=video/mp4> -->
                <iframe width="100%" height="330" src="https://www.youtube.com/embed/Fcs58xKl6Jc?start=11" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <!-- </video> -->
            <h3>Parent should follow below points while teaching Shape of circle for more understanding:</h3>
            <h4>Parent should teach kids simply giving following examples:</h4>

            <p><a href="https://teaching2and3yearolds.com/toddler-circle-art-with-paper-tubes/" style="text-decoration: none;">Toddler Circle Art with Paper Tubes </a>- Fun process art activity for stamping circles onto paper.</p>
            <p><a href="https://teaching2and3yearolds.com/get-moving-with-this-fun-toddler-circle-activity/" style="text-decoration: none;">Circle Hunt  </a>- Add some large motor while inviting your toddlers to find hidden felt circles.</p>
            <p><a href="https://playinghouseinmaryland.blogspot.com/2012/09/color-matching-watercolor-activity.html" style="text-decoration: none;">Color Matching Circles </a>- Have toddlers fill in colorful circles with watercolors or markers to practice making the shape of a circle. (Playing House in Maryland)</p>
            <p><a href="http://ourcraftsnthings.com/2008/09/insert-a-creative-title/" style="text-decoration: none;">Circle Suncatcher </a>- Press circle shapes made of tissue paper onto a larger circle shape of clingwrap for a suncatcher full of circles. (Our Crafts N Things)</p>
            <p><a href="https://buggyandbuddy.com/painting-plastic-easter-eggs/" style="text-decoration: none;">Easter Egg Circles </a>-  Stamp colorful circles onto the paper using the edges of easter eggs. (Buggy and Buddy)</p>
            <p><a href="https://everydaychaosandcalm.com/simple-circle-craft-for-toddlers/" style="text-decoration: none;">Cereal Circles </a>- Trace the shape of the circle using round cereal such as cheerios or fruit loops. (Everyday Chaos and Calm)</p>



            <div class="line"></div>

            <!-- nav tabs -->
            <ul class="nav nav-tabs justify-content-center" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">This Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">Video Transcript</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#references" role="tab" data-toggle="tab">references</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="profile"></div>
                <div role="tabpanel" class="tab-pane fade" id="buzz">
                    the story of mr. circle
                    hello I am mister circle
                    I am round in shape there are more
                    things that looks just like me would you
                    like to come and see more things that
                    looks just like me come let's find out
                    mr. circle goes out he looks around
                    there are many cars and bicycles on the
                    road oh look the tires of cars and
                    bicycles are just like me
                    they are round in shape
                    mr. circle goes ahead he finds a man
                    selling balloons oh look at that the
                    balloons are just like me they are round
                    in shape
                    now mr. circle sees a boy playing with a
                    ball
                    oh that ball - looks like me the boy is
                    bouncing the ball it's rolling round and
                    round oh it's just like me
                    now mr. circle enters into a beautiful
                    garden oh how lovely the garden is there
                    are beautiful flowers all around oh I
                    can see some ladybugs see look what I
                    found
                    there are small round spots on the
                    ladybugs and it's just like me
                    [Music]
                    mr. circle looks up he sees a bright
                    shining moon
                    oh that looks just like me it's the moon
                    round and round is the moon
                    in the morning mr. circle looked up at
                    the sky he saw the Sun and the Sun was
                    just like him
                    round and round is the Sun mr. circle
                    had lots of fun did you enjoy the story
                    children bye
                    [Music]
                    this is a circle a circle is round in
                    shape a circle has no sides it is closed
                    from every side
                    let's revise the circle shape things
                    which were in the story and around us
                    tire
                    boy
                    spots in the ladybug
                    moon
                    son
                    clock
                    donut
                    they all are circle in shape keep
                    revising by
                    
                    
                    
                </div>
                <div role="tabpanel" class="tab-pane fade" id="references">
                    <li>Megha Rawat -Youtube Video</li>
                    <li>Different websites for courses</li>
                    <li>https://teaching2and3yearolds.com/teaching-circles-to-toddlers-and-preschoolers/</li>


                </div>
            </div>

            <!-- tab nav end -->

            <!-- page navigation bar -->

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="{{url_for('shapename')}}" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="{{url_for('circle')}}">2</a></li>
                    <li class="page-item"><a class="page-link" href="{{url_for('triangle')}}">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="{{url_for('triangle')}}">Next</a>

                    </li>
                </ul>
            </nav>
            <!-- page navigation bar ends-->
        </div>

    </div>
</div>



{%endblock content%}


{%block scripts%}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $("#sidebarCollapse").on('click', function () {
            $("#sidebar").toggleClass('active');
        })
    })
</script>
{%endblock scripts%}