{% extends "base_page.html" %}
{%block title%} math {%endblock%}

{%block username%} {{username}} {%endblock%}

{%block name%} {{name}} {%endblock%}

{%block head%}
<link rel="stylesheet" href="{{url_for('static',filename='css/coursesInfoCss/coursesCss/introNumbers.css')}}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
{%endblock head%}

{%block content %}

<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Geometry (Shapes and Sizes)</h3>
        </div>


        <ul class="list-unstyled components">
            <p>Mathematics</p>

            <li>
                <a onclick="return onClickOpen(28, 2.8, 'pre_k');" href="{{url_for('shapename')}}">Name of Shape</a>
            </li>
            <li>
                <a onclick="return onClickOpen(29, 2.8, 'pre_k');" href="{{url_for('circle')}}">Circle</a>
            </li>
            <li>
                <a onclick="return onClickOpen(30, 2.8, 'pre_k');" href="{{url_for('triangle')}}">Triangle</a>
            </li>
            <li>
                <a onclick="return onClickOpen(31, 2.8, 'pre_k');" href="{{url_for('rectangle')}}">Rectangle</a>
            </li>
            <li>
                <a onclick="return onClickOpen(32, 2.8, 'pre_k');" href="{{url_for('square')}}">Square</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a href="{{url_for('dashboard')}}" style="text-decoration: none;" class="download">Dashboard</a>
            </li>
        </ul>
    </nav>

    <div class="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fa fa-align-justify"></i> <span></span>
            </button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


        </nav>


        <div class="content-wrapper">
            <h2>Learn- Shapes and Sizes</h2>
            <h4>Topic - Square</h4>

            <!-- <video width="320" height="240" controls autoplay> -->
            <!-- <source src="https://youtu.be/vxffHm4wy24" type=video/mp4> -->
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/WHypLi16j4o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <!-- </video> -->
            <h3>Parent should follow below points while teaching Shape of Square for more understanding:</h3>
            <h4>Parent should teach kids simply giving following examples:</h4>

            <p>ACTIVITIES FOR TEACHING SQUARES TO KIDS ARE</p>
            <p><a href="https://teaching2and3yearolds.com/how-to-put-together-toddler-square-art-activity-busy-fun/" style="text-decoration: none;">Stamping Squares </a>- Grab your blocks for this fun square painting activity.</p>
            <p><a href="http://www.mylifeoftravelsandadventures.com/2014/02/square-themed-tot-school.html" style="text-decoration: none;">Dot Marker Squares  </a>- Use do-a-dot markers to practice tracing the outline of a square. (My Life of Travels and Adventures)</p>
            <p><a href="https://www.notimeforflashcards.com/2018/03/square-painting-activity-for-preschool.html" style="text-decoration: none;">Square Stamping </a>-Stamp geometric cube blocks with paint to create square art. (No Time for Flash Cards)</p>
            <p><a href="https://teachpreschool.org/2012/09/10/painting-up-perfect-squares-piet-mondrian-style/" style="text-decoration: none;">Painting Squares  </a>-  Preschoolers will practice painting each square with different colors to create an artistic masterpiece. (Teach Preschool)</p>
            <p><a href="https://mrsplemonskindergarten.com/2016/03/tot-school-tuesday-squares.html" style="text-decoration: none;">Square Snacks </a>-  For a fun way to learn about squares, have a snack time that consists completely of square shaped snacks. (Mrs Plemon’s Kindergarten)
            </p>
            <p><a href="https://www.messforless.net/art-activity-square-collage/" style="text-decoration: none;">Shape Collage  </a>- Toddlers will practice their gluing skills by collaging tissue paper squares onto their paper. (Mess for Less)</p>

            <!-- nav tabs -->
            <ul class="nav nav-tabs justify-content-center" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">This Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">Video Transcript</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#references" role="tab" data-toggle="tab">references</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="profile"></div>
                <div role="tabpanel" class="tab-pane fade" id="buzz">
                    hello kids I am a square I have four
sides and all four are the same length
can you see the alphabet cube what's the
shape of its faces each face is a square
with four equal sides Wow I can see a
gift box here all of its faces are
square in shape just like me
Wow here comes a sandwich what's the
shape of this sandwich you're right
it's a square
I can see a dice coming my way I know
that you all can tell me the shape of
its faces yes they are square
we have another big box well let's see
what shape it is I guess it's a square
yes it's a square with all four sides of
the same length oh here comes our friend
the clock what shape is it it's a
perfect square
oops the clock tells me it's time to
move on see you later

                </div>
                <div role="tabpanel" class="tab-pane fade" id="references">
                    <li> Turtlediary -Youtube Video</li>
                    <li>Different websites for courses</li>
                    <li>https://teaching2and3yearolds.com/15-activities-for-teaching-squares-to-toddlers-and-preschoolers/</li>


                </div>
            </div>

            <!-- tab nav end -->

            <!-- page navigation bar -->

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="{{url_for('rectangle')}}" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="{{url_for('square')}}">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="{{url_for('shapename')}}">Next</a>

                    </li>
                </ul>
            </nav>
            <!-- page navigation bar ends-->
        </div>

    </div>
</div>



{%endblock content%}


{%block scripts%}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $("#sidebarCollapse").on('click', function () {
            $("#sidebar").toggleClass('active');
        })
    })
</script>
{%endblock scripts%}