{% extends "base_page.html" %}
{%block title%} topicSelection {%endblock%}

{%block username%} {{username}} {%endblock%}

{%block name%} {{name}} {%endblock%}

{%block head%}
<link rel="stylesheet" href="{{url_for('static',filename='css/coursesInfoCss/courseSelection/coursesinfoPrek.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/coursesInfoCss/textDecoration/textDecor.css')}}">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{%endblock head%}

{%block content %}
<br>
<div class="container">
    <div id="accordion" class="accordion">
        <div class="card mb-0">
            <div class="card-header collapsed grabbing" style="background-color: black;" data-toggle="collapse"
                href="#collapseOne">
                <a class="card-title effect-shine" style="color: blanchedalmond;">
                    <bold>Numbers upto 50</bold>
                </a>
            </div>
            <div id="collapseOne" class="card-body collapse" data-parent="#accordion">
                <p>Counting is the process of determining the numbers of items/elements/objects.</p>
                <p>It is very important to understand numbers and practice counting of numbers</p>
                <h6>This topic is divided into five parts:</h6>
                <ul>
                    <li>Numbers upto 10</li>
                    <li>Numbers upto 20</li>
                    <li>Numbers upto 30</li>
                    <li>Numbers upto 40</li>
                    <li>Numbers upto 50</li>
                </ul>
               
                <!-- <button type="button" class="btn btn-outline-primary" onclick="location.href='">Start Learning</button> -->
                <!-- <a href="{{url_for('chooseMath')}}" class="mt-auto btn btn-primary effect-shine ">Start Learning</a> -->
                <a href="{{url_for('numbers1to10')}}" class="btn btn-dark effect-shine"> Start Learning</a>
            </div>
            
            <br>

            <div class="card-header collapsed grabbing" style="background-color: black;" data-toggle="collapse"
            href="#collapse5">
            <a class="card-title effect-shine" style="color: blanchedalmond;">
                <bold>Shapes</bold>
            </a>
        </div>
        <div id="collapse5" class="card-body collapse" data-parent="#accordion">
            <p>This module is about learning the shape of an object/figure. Learning shapes not only helps children identify and organize visual information, it helps them learn skills in other curriculum areas including reading, math, and science. For example, an early step in understanding numbers and letters is to recognize their shape. Learning shapes also helps children understand other signs and symbols.</p> 
            <p>IShapes such as:</p>
            <ul>
                <li>Sphere  </li>
                <li>Cylinder</li>
                <li>Cone</li>
                <li>Cube</li>
            </ul>
            <a href="{{url_for('basicshapes')}}" class="btn btn-dark effect-shine"> Start Learning</a>
        </div>



            <br>
            <div class="card-header collapsed grabbing " style="background-color: black;" data-toggle="collapse"
                data-parent="#accordion" href="#collapseTwo">
                <a class="card-title effect-shine" style="color: blanchedalmond;">
                    <bold>Comparision</bold>
                </a>
            </div>
            <div id="collapseTwo" class="card-body collapse" data-parent="#accordion">
                <p>Learning to compare quantities helps preschoolers begin to make sense of the relationships between numbers.for e.g – seven is one less than eighth but it is  one more than six so your child will build all these relationships in kinder garden.</p>
                <p>Comparision such as
                    <ul>
                        <li>Fewer and more - compare by matching</li>
                        <li>Fewer and more - compare by counting</li>
                        <li>Fewer and more - compare in a mixed group</li>
                    </ul>
                </p>
                
                <a href="{{url_for('comp1')}}" class="btn btn-dark effect-shine"> Start Learning</a>
            </div>


            <br>
            <div class="card-header collapsed grabbing" style="background-color: black;" data-toggle="collapse"
                href="#collapse6">
                <a class="card-title effect-shine" style="color: blanchedalmond;">
                    <bold>Addition</bold>
                </a>
            </div>
            <div id="collapse6" class="card-body collapse" data-parent="#accordion">
                <p>Addition helps kids master the relationships between numbers and understand how quantities relate to one another.
                </p>
                <p>So this topic will cover basic addition of the numbers through different examples.</p>
                <a href="{{url_for('add1')}}" class="btn btn-dark effect-shine"> Start Learning</a>
            </div>

            <br>
            <div class="card-header collapsed grabbing" style="background-color: black;" data-toggle="collapse"
                href="#collapse7">
                <a class="card-title effect-shine" style="color: blanchedalmond;">
                    <bold>Subtraction</bold>
                </a>
            </div>
            <div id="collapse7" class="card-body collapse" data-parent="#accordion">
                <p>Subtraction helps kids master the relationships between numbers and understand how quantities relate to one another.
                </p>
                <p>So this topic will cover basic subtraction of the numbers through different examples.</p>
                <a href="{{url_for('sub1')}}" class="btn btn-dark effect-shine"> Start Learning</a>
            </div>

        </div>
    </div>
</div>

{%endblock content%}

{%block scripts%}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
{%endblock scripts%}