<!DOCTYPE html>
<html>
<head>
	<title>addTeacher</title>

  

</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
.card {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
</style>

<body>
    <h1 class="text-center mt-5">Add Teacher </h1>

    <div align="center"> {{message}} </div>

    <div class="container pt-3">
      <div class="row justify-content-sm-center">
        <div class="col-sm-10 col-md-6">
          <div class="card border-info">
            <div class="card-header">Add teacher in proper format</div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4 text-center">
                  <img src="https://placeimg.com/128/128/tech/sepia">
                  <h4 class="text-center">Autodidact</h4>
                </div>
                <div class="col-md-8">
                  <form class="form-signin" action="{{url_for('addteacher')}}" method="POST">
                    <input type="text" class="form-control mb-2" placeholder="Name of Teacher" name="name" id="name" required autofocus>
                    <input type="text" class="form-control mb-2" name="grade" id="grade" placeholder="Pre-K,Grade-K or Grade-1(Write as it is)" required>
                    <button class="btn btn-lg btn-primary btn-block mb-1" type="submit" >Add</button>
                    <label class="checkbox float-left">
                </label>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <center>
      <p class="cp-text">
        © Copyright 2021 Autodidact. All rights reserved.
    </p>
    </center>
</body>
<script>
var msg='{{message}}';  
console.log(msg) 
</script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>