{% extends "base_page.html" %}
{%block title%} topicSelection {%endblock%}

{%block username%} {{username}} {%endblock%}

{%block name%} {{name}} {%endblock%}

{%block head%}
<link rel="stylesheet" href="{{url_for('static',filename='css/coursesInfoCss/courseSelection/coursesinfoPrek.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/coursesInfoCss/textDecoration/textDecor.css')}}">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{%endblock head%}

{%block content %}
<br>
<div class="container">
    <div id="accordion" class="accordion">
        <div class="card mb-0">
            <div class="card-header collapsed grabbing" style="background-color: black;" data-toggle="collapse"
                href="#collapseOne">
                <a class="card-title effect-shine" style="color: blanchedalmond;">
                    <bold>Colors and Shapes</bold>
                </a>
            </div>
            <div id="collapseOne" class="card-body collapse" data-parent="#accordion">
                <p>Kids will learn shapes and colors.</p>
                <!-- <button type="button" class="btn btn-outline-primary" onclick="location.href='">Start Learning</button> -->
                <!-- <a href="{{url_for('chooseMath')}}" class="mt-auto btn btn-primary effect-shine ">Start Learning</a> -->
                <a href="{{url_for('colorsGrdae1')}}" class="btn btn-dark effect-shine"> Start Learning</a>
            </div>
            
            <br>

            

            <div class="card-header collapsed grabbing" style="background-color: black;" data-toggle="collapse"
            href="#collapse5">
            <a class="card-title effect-shine" style="color: blanchedalmond;">
                <bold>Traffic Signals</bold>
            </a>
        </div>
        <div id="collapse5" class="card-body collapse" data-parent="#accordion">
            <p> After learning colors it will be easy for kids to learn different light signals and it is important to teach traffic signals at early age.</p> 
            <a href="{{url_for('traffic')}}" class="btn btn-dark effect-shine"> Start Learning</a>
        </div>
            <br>

            <div class="card-header collapsed grabbing " style="background-color: black;" data-toggle="collapse"
                data-parent="#accordion" href="#collapseTwo">
                <a class="card-title effect-shine" style="color: blanchedalmond;">
                    <bold>Safety First</bold>
                </a>
            </div>
            <div id="collapseTwo" class="card-body collapse" data-parent="#accordion">
                <p>This topic is the Complete Guide of Road Safety Rules to Teach Your Children</p>
                <a href="{{url_for('saftey')}}" class="btn btn-dark effect-shine"> Start Learning</a>
            </div>


            <br>
            
            <div class="card-header collapsed grabbing" style="background-color: black;" data-toggle="collapse"
                href="#collapse6">
                <a class="card-title effect-shine" style="color: blanchedalmond;">
                    <bold>Comunity Helpers</bold>
                </a>
            </div>
            <div id="collapse6" class="card-body collapse" data-parent="#accordion">
                <p>This topic will give short information about our community.</p>
                <a href="{{url_for('community')}}" class="btn btn-dark effect-shine"> Start Learning</a>
            </div>

            <br>
            <div class="card-header collapsed grabbing" style="background-color: black;" data-toggle="collapse"
                href="#collapse7">
                <a class="card-title effect-shine" style="color: blanchedalmond;">
                    <bold>Good Habits</bold>
                </a>
            </div>
            <div id="collapse7" class="card-body collapse" data-parent="#accordion">
                <p>This topic will teach some of good habits and cleanliness lession.</p>

                <a href="{{url_for('habits')}}" class="btn btn-dark effect-shine"> Start Learning</a>
            </div>

        </div>
    </div>
</div>

{%endblock content%}

{%block scripts%}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
{%endblock scripts%}