{% extends "base_page.html" %}
{%block title%} tables {%endblock%}

{%block username%} {{username}} {%endblock%}

{%block name%} {{name}} {%endblock%}

{%block head%}
<link rel="stylesheet" href="{{url_for('static',filename='css/coursesInfoCss/coursesCss/introNumbers.css')}}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
{%endblock head%}

{%block content %}

<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Mathematics</h3>
        </div>


        <ul class="list-unstyled components">
            <p>Maths</p>
            <li>
                <a onclick="return onClickOpen(15, 2.8, 'grade_1');" href="{{url_for('table1to10')}}">Tables 1 to 10</a>
            </li>


        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a href="{{url_for('dashboard')}}" style="text-decoration: none;" class="download">Dashboard</a>
            </li>
        </ul>
    </nav>

    <div class="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fa fa-align-justify"></i> <span></span>
            </button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


        </nav>


        <div class="content-wrapper">
            <h2>Tables 1 to 10</h2>
            <!-- <video width="320" height="240" controls autoplay> -->
            <!-- <source src="https://youtu.be/vxffHm4wy24" type=video/mp4> -->
            <iframe width="100%" height="330" src="https://www.youtube.com/embed/q8OMkcjQpHk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h4>Kid should watch this lesson carefully and parents should teach below points to their child</h4>
            <h5>Why learning tables are important for kids:</h5>
            <p>By starting with smaller tables and building up, children will learn number rules which will make learning other tables much easier. For example,
                once you know your 2 times table, you can learn your 4 times table simply by doubling the answers! </p>
            <p>Memorising times tables makes it far quicker and easier for children to work out maths problems in their heads. Moving beyond using their fingers to work out answers, they’ll gradually be able to use their knowledge to quickly solve any multiplication questions.</p>
            <p>By memorising their times tables, children will also become more accustomed to using their head to visualise answers. This will help them to solve questions involving multiplication, addition, subtraction and division in their head, making the act of memorising multiplications a very worthwhile cause! </p>
            <p>Beyond memorising times tables, learning and understanding how they work can do wonders for building children's knowledge of important mathematical concepts. These include fractions, percentages and even shape.</p>
            <p>Perhaps most importantly, memorising their tables will give your child confidence in their own skills. There's nothing more grown-up than not having to use your fingers to work out an answer!</p>
            <div class="line"></div>

            <!-- nav tabs -->
            <ul class="nav nav-tabs justify-content-center" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">This Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">Video Transcript</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#references" role="tab" data-toggle="tab">references</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="profile"></div>
                <div role="tabpanel" class="tab-pane fade" id="buzz">
                    Not Available



                </div>
                <div role="tabpanel" class="tab-pane fade" id="references">
                    <li>Different websites for courses</li>
                    <li>Bhane Gujarat -Youtube Video</li>



                </div>
            </div>

            <!-- tab nav end -->

            <!-- page navigation bar -->

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1"
                            aria-disabled="true">Previous</a>
                    </li>

                    <li class="page-item"><a class="page-link" href="{{url_for('table1to10')}}">1</a></li>
                </ul>
            </nav>
            <!-- page navigation bar ends-->
        </div>

    </div>
</div>



{%endblock content%}


{%block scripts%}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $("#sidebarCollapse").on('click', function () {
            $("#sidebar").toggleClass('active');
        })
    })
</script>
{%endblock scripts%}