{% extends "base_page.html" %}
{%block title%} math {%endblock%}

{%block username%} {{username}} {%endblock%}

{%block name%} {{name}} {%endblock%}

{%block head%}
<link rel="stylesheet" href="{{url_for('static',filename='css/coursesInfoCss/coursesCss/introNumbers.css')}}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
{%endblock head%}

{%block content %}

<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Coins and Notes</h3>
        </div>


        <ul class="list-unstyled components">
            <p>Mathematics</p>

            <li>
                <a href="{{url_for('coins')}}">Introduction to Indian Currency</a>
            </li>
            <li>
                <a href="{{url_for('coinquiz')}}">How to Solve Quiz</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a href="{{url_for('dashboard')}}" style="text-decoration: none;" class="download">Dashboard</a>
            </li>
        </ul>
    </nav>

    <div class="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fa fa-align-justify"></i> <span></span>
            </button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


        </nav>


        <div class="content-wrapper">
            <h2 class="effect-underline">How to solve coins quiz</h2>

            <!-- <video width="320" height="240" controls autoplay> -->
            <!-- <source src="https://youtu.be/vxffHm4wy24" type=video/mp4> -->
            <iframe width="100%" height="330" src="https://www.youtube.com/embed/DrsIGqN74ro"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <!-- </video> -->
            <h3>Childerns should watch how to solve quiz video thoroughly in order to understand quiz format.</h3>
            <p>There are several activities for preschoolers and school aged kids to enjoy, learning maths through play in as fun a way as possible!</p>
            <p>Count your steps as you climb the stairs, count the number of dogs you see at the park, the flowers in the garden, the items on conveyor belt at the supermarket, fingers and toes while singing, how many red cars whizz past the window and so on! Children learn best through real life experiences, and when we then build on those to create more learning at home or at school, they can be just as practical, tactile and enjoyable.</p>
            <div>
                <p>You can click below link for more activities:</p>
                <ul>
                    <li><a href="https://theimaginationtree.com/beans-flower-pots-counting-activity/" target="_blank" style="text-decoration: none;">Beans and Flower Pots</a></li>
                    <li><a href="https://theimaginationtree.com/5-little-fish-magnetic-counting-game/" target="_blank" style="text-decoration: none;">Magnetic Counting Fish</a></li>
                    <li><a href="https://theimaginationtree.com/how-to-make-magic-coloured-beans-for-math-activities/" target="_blank" style="text-decoration: none;">Magic Coloured Beans</a></li>
                    <li><a href="https://theimaginationtree.com/math-activities-learning-area-materials/" target="_blank" style="text-decoration: none;">Open-ended Counting and Maths Investigation Table</a></li>
                    <li><a href="https://theimaginationtree.com/counting-and-addition-with-shapes-math-game/" target="_blank" style="text-decoration: none;">Counting and Sorting Shapes</a></li>
                </ul>
            </div>
            <div class="line"></div>

            <!-- nav tabs -->
            <ul class="nav nav-tabs justify-content-center" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">This Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">Video Transcript</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#references" role="tab" data-toggle="tab">references</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="profile"></div>
                <div role="tabpanel" class="tab-pane fade" id="buzz">
                    let us go to the forest and count the
                    animals see here there is one rabbit
                    here Wow another white rabbit just came
                    from behind the tree how many animals
                    can you see now let us count one two
                    there are two animals look up there is a
                    monkey sitting on the tree let us count
                    the number of animals now one two three
                    we can see three animals did you hear
                    that sound can you recognise the animal
                    from this sound yes that is the lion the
                    king of the jungle let us count the
                    animals now one two three four there are
                    four animals see there can you recognize
                    that animal yes it's a giraffe let us
                    count the animals now one two three four
                    five there are five animals now can you
                    see someone jumping and coming
                    can you name this animal yes it is a
                    kangaroo
                    let us count the number of animals now
                    one two three four five six there are
                    six animals now Oh
                    see a baby kangaroo peeping out from his
                    mother's pocket let us count again one
                    two three four five six seven there are
                    seven animals now who is fighting up
                    there oh there are two monkeys now on
                    the tree or fighting for the bread can
                    we count the animals we see now one two
                    three four five six seven eight
                    there are eight animals now how could
                    the elephant miss the party counting the
                    animals now one two three four five six
                    seven eight nine there are nine animals
                    now finally we have the birthday boy
                    coming in with the cake for the party
                    let us count the animals now one two
                    three four five six seven eight nine ten
                    there are ten animals now

                </div>
                <div role="tabpanel" class="tab-pane fade" id="references">
                    <li>Wisdom Leap -Youtube Video</li>
                    <li>Different websites for courses</li>
                    <li>https://theimaginationtree.com/20-counting-activities-preschoolers/</li>


                </div>
            </div>

            <!-- tab nav end -->

            <!-- page navigation bar -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="{{url_for('coins')}}" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="{{url_for('coinquiz')}}">2</a></li>
                    <li class="page-item">
                        <a class="page-link" href="{{url_for('coins')}}">Next</a>

                    </li>
                </ul>
            </nav>
            <!-- page navigation bar ends-->
        </div>

    </div>
</div>



{%endblock content%}


{%block scripts%}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $("#sidebarCollapse").on('click', function () {
            $("#sidebar").toggleClass('active');
        })
    })
</script>
{%endblock scripts%}