{% extends "base_page.html" %}

{%block username%} {{username}} {%endblock%}

{%block name%} {{name}} {%endblock%}

{%block head%}
<link rel="stylesheet" href="{{url_for('static',filename='css/coursesCss.css')}}">
{%endblock head%}



{%block content %}

<div class="container-fluid" style="background-image: url('../static/images/kids_background.jpg'); background-size: contain; background-repeat: no-repeat;">

    <div class="container">

    </div>

</div>



{%endblock content%}

{%block scripts%}
{%endblock scripts%}