{% extends "base_page.html" %}
{%block title%} drawing Board {%endblock%}

{%block username%} {{username}} {%endblock%}

{%block name%} {{name}} {%endblock%}
{%block head%}
<link rel="stylesheet" href="{{url_for('static',filename='css/drawingboard.css')}}">
{%endblock head%}

{%block content %}

{%endblock content%}

{%block scripts%}
<script src="{{url_for('static',filename='js/memorygame.js')}}" type="text/javascript"> </script>
<script>
    $(document).ready(function(){
        var imageBoard=new DrawingBoard.Board('div',{
            controls: True,
            color:'#ff0',
            webStorage:False
        })


        $("#button").click(function(){
            domtoimage.toBlob(document.getElementById('div'))
            .then(function(blob){
                window.saveAs(blob,'picture.png')
            })
        })
    })
</script>
{%endblock scripts%}