{% extends "base_page.html" %}
{%block title%} colors {%endblock%}

{%block username%} {{username}} {%endblock%}

{%block name%} {{name}} {%endblock%}

{%block head%}
<link rel="stylesheet" href="{{url_for('static',filename='css/coursesInfoCss/coursesCss/introNumbers.css')}}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
{%endblock head%}

{%block content %}

<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>General Knowledge</h3>
        </div>


        <ul class="list-unstyled components">
            <p>GK</p>
            <li>
                <a onclick="return onClickOpen(30, 2.8, 'grade_1');" href="{{url_for('colorsGrdae1')}}">Colors</a>
            </li>
            <li>
                <a onclick="return onClickOpen(31, 2.8, 'grade_1');" href="{{url_for('shapesgrade1')}}">Shapes</a>
            </li>
            <li>
                <a href="{{url_for('quizgrade1')}}">How to solve quiz</a>
            </li>

        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a href="{{url_for('dashboard')}}" style="text-decoration: none;" class="download">Dashboard</a>
            </li>
        </ul>
    </nav>

    <div class="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fa fa-align-justify"></i> <span></span>
            </button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


        </nav>


        <div class="content-wrapper">
            <h2>Shapes</h2>
            <!-- <video width="320" height="240" controls autoplay> -->
            <!-- <source src="https://youtu.be/vxffHm4wy24" type=video/mp4> -->
            <iframe src="https://drive.google.com/file/d/12LxXVVFgVpLLXN46OXFyMPrcWgYN21O3/preview" width="100%" height="330" allowfullscreen="true"></iframe>
            <h4>Parent also need to teach shapes to kids simply by giving following examples:</h4>
            <h5>First and foremost</h5>
            <p>Use pattern blocks in every activity that you can! Students are so much more engaged when
                they can hold and physically manipulate the shapes to build new ones.</p>
            <h5> Search for shapes hidden in a salt box</h5>
            <center><img 
                src="https://www.giftofcuriosity.com/wp-content/uploads/2013/04/Salt-box-discoveries-2.jpg" width="550px"
                height="400px" alt="salt box"></center>
            <h5>Play a sandpaper and felt shapes matching game like Craftulate</h5>
            <center><img 
                src="https://www.giftofcuriosity.com/wp-content/uploads/2013/08/Sandpaper-and-shapes-from-Craftulate.jpg" width="550px"
                height="400px" alt="salt box"></center>
            <h5>Make shape pictures using Imaginets</h5>
            <center><img 
                src="https://www.giftofcuriosity.com/wp-content/uploads/2013/07/Montessori-time-10.jpg" width="550px"
                height="400px" alt="salt box"></center>
            <h5> Get some exercise while chasing down shapes drawn with sidewalk chalk</h5>
            <center><img 
                src="https://www.giftofcuriosity.com/wp-content/uploads/2013/07/Chase-down-shapes.jpg" width="550px"
                height="400px" alt="salt box"></center>
             <div class="line"></div>

            <!-- nav tabs -->
            <ul class="nav nav-tabs justify-content-center" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">This Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">Video Transcript</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#references" role="tab" data-toggle="tab">references</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="profile"></div>
                <div role="tabpanel" class="tab-pane fade" id="buzz">
                    Not Available

                </div>
                <div role="tabpanel" class="tab-pane fade" id="references">
                    <li>Different websites for courses</li>
                    <li>www.giftofcuriosity.com</li>



                </div>
            </div>

            <!-- tab nav end -->

            <!-- page navigation bar -->

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="{{url_for('colorsGrdae1')}}" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="{{url_for('shapesgrade1')}}">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>

                    </li>
                </ul>
            </nav>
            <!-- page navigation bar ends-->
        </div>

    </div>
</div>



{%endblock content%}


{%block scripts%}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $("#sidebarCollapse").on('click', function () {
            $("#sidebar").toggleClass('active');
        })
    })
</script>
{%endblock scripts%}